@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
/* layouts/_base.scss */
/* line 6, ../sass/layouts/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/layouts/_base.scss */
body {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 60px;
  color: #111;
}
/* line 22, ../sass/layouts/_base.scss */
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* line 29, ../sass/layouts/_base.scss */
header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
}

/* line 42, ../sass/layouts/_base.scss */
.logo {
  display: inline-block;
  max-width: 80px;
}

/* line 48, ../sass/layouts/_base.scss */
nav {
  float: right;
}

/* line 52, ../sass/layouts/_base.scss */
h2, blockquote, .post--link__url {
  font-size: 1.7em;
  margin-top: 0;
}

/* line 58, ../sass/layouts/_base.scss */
p {
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0;
}

/* line 65, ../sass/layouts/_base.scss */
img {
  max-width: 100%;
}

/* line 69, ../sass/layouts/_base.scss */
a {
  font-weight: 700;
  text-decoration: none;
  color: #333;
}
/* line 75, ../sass/layouts/_base.scss */
a:hover {
  opacity: .7;
}

/* line 80, ../sass/layouts/_base.scss */
article {
  margin: 20px;
}

/* line 84, ../sass/layouts/_base.scss */
figure {
  margin: 0;
}
/* line 86, ../sass/layouts/_base.scss */
figure img {
  display: block;
}

/* line 91, ../sass/layouts/_base.scss */
blockquote {
  font-weight: 700;
  margin-left: 0;
}

/* line 99, ../sass/layouts/_base.scss */
.source {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0;
}

/* line 106, ../sass/layouts/_base.scss */
footer {
  position: fixed;
  top: 190px;
  right: 0;
  -moz-transform: translateX(calc(100% - 21px));
  -ms-transform: translateX(calc(100% - 21px));
  -webkit-transform: translateX(calc(100% - 21px));
  transform: translateX(calc(100% - 21px));
}
/* line 112, ../sass/layouts/_base.scss */
footer ul {
  padding-left: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

/* modules/_navigation.scss */
/* line 6, ../sass/modules/_navigation.scss */
.navigation {
  margin: 0;
  list-style-type: none;
}

/* line 12, ../sass/modules/_navigation.scss */
.navigation__item {
  display: inline-block;
  vertical-align: sub;
}

/* line 18, ../sass/modules/_navigation.scss */
.navigation__item--site-wide {
  margin-left: 35px;
}

/* line 22, ../sass/modules/_navigation.scss */
.navigation__item--social {
  font-size: .7em;
  padding-left: 2px;
  text-transform: uppercase;
}
/* line 28, ../sass/modules/_navigation.scss */
.navigation__item--social:not(:last-child):after {
  padding-left: 4px;
  content: ' /';
}

/* modules/_action-item.scss */
/* line 5, ../sass/modules/_action-items.scss */
.action-item {
  display: inline-block;
  max-width: 18px;
  margin: 0 3px 1em;
}

/* modules/_hashtags.scss */
/* line 5, ../sass/modules/_hashtags.scss */
.hashtags {
  padding-left: 0;
  list-style-type: none;
}

/* line 11, ../sass/modules/_hashtags.scss */
.hashtags__item {
  display: inline-block;
}
/* line 13, ../sass/modules/_hashtags.scss */
.hashtags__item a:before {
  font-weight: 700;
  content: '#';
}

/* modules/_description.scss */
/* line 6, ../sass/modules/_description.scss */
.description {
  text-align: center;
  max-width: 400px;
  margin: 125px auto;
  font-size: 1.7em;
  font-weight: 400;
}

/* line 1, ../sass/modules/_copyright.scss */
.copyright {
  font-size: .7em;
  position: fixed;
  bottom: 13px;
  left: 27px;
  text-transform: uppercase;
  color: #646464;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

/* modules/_post.scss */
/* line 6, ../sass/modules/_post.scss */
.posts {
  text-align: center;
}
/* line 8, ../sass/modules/_post.scss */
.posts .post {
  text-align: left;
  vertical-align: middle;
}

/* line 14, ../sass/modules/_post.scss */
.post {
  position: relative;
  display: inline-block;
}
/* line 19, ../sass/modules/_post.scss */
.post:hover .post__singlelink:before {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 22, ../sass/modules/_post.scss */
.post:hover .post__more,
.post:hover .post--photo__caption {
  opacity: 1;
}

/* line 30, ../sass/modules/_post.scss */
.post__singlelink {
  position: relative;
  cursor: pointer;
  opacity: 1 !important;
}
/* line 35, ../sass/modules/_post.scss */
.post__singlelink:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
}
/* line 47, ../sass/modules/_post.scss */
.post__singlelink--text {
  padding: 20px;
}

/* line 52, ../sass/modules/_post.scss */
.post__more {
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  text-align: center;
  opacity: 0;
  color: #fff;
}
/* line 63, ../sass/modules/_post.scss */
.post__more a {
  color: #fff;
}

/* line 68, ../sass/modules/_post.scss */
.post--photo__caption {
  font-size: 1.8em;
  font-weight: 700;
}

/* line 73, ../sass/modules/_post.scss */
main .post--photo__caption {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
}

/* line 86, ../sass/modules/_post.scss */
.overlay .post--photo__caption {
  margin-top: 15px;
}

/* line 90, ../sass/modules/_post.scss */
.post__conversation {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* line 96, ../sass/modules/_post.scss */
.post__conversation--lines:last-child p {
  margin-bottom: 0;
}

/* line 100, ../sass/modules/_post.scss */
.post--link__url {
  display: inline-block;
  margin-bottom: .83em;
  border-bottom: 2px solid #222;
}

/* line 111, ../sass/modules/_post.scss */
.post--photo {
  max-width: 800px;
}

/* line 115, ../sass/modules/_post.scss */
.post--blockquote {
  max-width: 500px;
}

/* line 119, ../sass/modules/_post.scss */
.post--text {
  max-width: 400px;
}
/* line 122, ../sass/modules/_post.scss */
.post--text .post__singlelink p:last-child {
  margin-bottom: 0;
}

/* line 128, ../sass/modules/_post.scss */
.post--link {
  max-width: 350px;
}
/* line 130, ../sass/modules/_post.scss */
.post--link .post__singlelink {
  min-height: 163px;
}

/* line 135, ../sass/modules/_post.scss */
.post--chat {
  max-width: 400px;
}

/* line 139, ../sass/modules/_post.scss */
.post--answer {
  max-width: 500px;
}

/* modules/_overlay.scss */
/* line 6, ../sass/modules/_overlay.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 205px 60px;
  text-align: center;
  background: rgba(240, 240, 240, 0.9);
  z-index: -1;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
/* line 23, ../sass/modules/_overlay.scss */
.overlay--visible {
  opacity: 1;
  z-index: initial;
}

/* line 29, ../sass/modules/_overlay.scss */
.overlay__post {
  display: inline-block;
  margin: 10px 0 0;
  opacity: 0;
  text-align: left;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
/* line 38, ../sass/modules/_overlay.scss */
.overlay__post--visible {
  opacity: 1;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 43, ../sass/modules/_overlay.scss */
.overlay__post .post__date {
  padding-right: 20px;
}
/* line 46, ../sass/modules/_overlay.scss */
.overlay__post .post__date,
.overlay__post .post__notes {
  display: inline-block;
  padding-top: 5px;
}
