@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* layouts/_base.scss */
/* line 6, ../sass/layouts/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/layouts/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  color: #111;
}
/* line 22, ../sass/layouts/_base.scss */
body.no-scroll {
  overflow: hidden;
  height: 100%;
}
@media (min-width: 625px) {
  /* line 14, ../sass/layouts/_base.scss */
  body {
    padding: 60px;
  }
}

/* line 32, ../sass/layouts/_base.scss */
header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 625px) {
  /* line 32, ../sass/layouts/_base.scss */
  header {
    padding-right: 60px;
    padding-left: 60px;
  }
}

/* line 49, ../sass/layouts/_base.scss */
.logo {
  display: inline-block;
  max-width: 80px;
}

/* line 55, ../sass/layouts/_base.scss */
nav {
  float: right;
}

/* line 59, ../sass/layouts/_base.scss */
h2, blockquote, .post--link__url {
  font-size: 1.7em;
  margin-top: 0;
}

/* line 65, ../sass/layouts/_base.scss */
p {
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0;
}

/* line 72, ../sass/layouts/_base.scss */
img {
  max-width: 100%;
}

/* line 76, ../sass/layouts/_base.scss */
a {
  font-weight: 700;
  text-decoration: none;
  color: #333;
}
/* line 82, ../sass/layouts/_base.scss */
a:hover {
  opacity: .7;
}

/* line 87, ../sass/layouts/_base.scss */
article {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 675px) {
  /* line 87, ../sass/layouts/_base.scss */
  article {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* line 96, ../sass/layouts/_base.scss */
figure {
  margin: 0;
}
/* line 98, ../sass/layouts/_base.scss */
figure img {
  display: block;
}

/* line 103, ../sass/layouts/_base.scss */
blockquote {
  font-weight: 700;
  margin-left: 0;
}

/* line 111, ../sass/layouts/_base.scss */
.source {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0;
}

/* line 118, ../sass/layouts/_base.scss */
.visible {
  z-index: initial !important;
  opacity: 1 !important;
}

/* layouts/_inner-page.scss */
/* line 7, ../sass/layouts/_inner-page.scss */
.inner-page main {
  max-width: 580px;
  margin: 100px auto 0;
}
/* line 10, ../sass/layouts/_inner-page.scss */
.inner-page main h1 {
  font-size: 1.7em;
  font-weight: 400;
}

/* modules/_navigation.scss */
/* line 6, ../sass/modules/_navigation.scss */
.navigation {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* line 13, ../sass/modules/_navigation.scss */
.navigation__item {
  display: inline-block;
  vertical-align: bottom;
}

/* line 19, ../sass/modules/_navigation.scss */
.navigation--site-wide {
  font-size: 1.2rem;
}
@media (max-width: 674px) {
  /* line 19, ../sass/modules/_navigation.scss */
  .navigation--site-wide {
    position: fixed;
    z-index: -1;
    top: 115px;
    left: 50%;
    opacity: 0;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition-property: opacity translate;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  /* line 31, ../sass/modules/_navigation.scss */
  .navigation--site-wide.visible {
    -moz-transform: translateX(-50%) translateY(-15px);
    -ms-transform: translateX(-50%) translateY(-15px);
    -webkit-transform: translateX(-50%) translateY(-15px);
    transform: translateX(-50%) translateY(-15px);
  }
}

@media (max-width: 674px) {
  /* line 37, ../sass/modules/_navigation.scss */
  .navigation--site-wide__item {
    font-size: 18px;
    display: block;
    margin-bottom: 1em;
    text-align: center;
  }
  /* line 46, ../sass/modules/_navigation.scss */
  .navigation--site-wide__item a {
    font-weight: 400;
  }
}
@media (min-width: 675px) {
  /* line 37, ../sass/modules/_navigation.scss */
  .navigation--site-wide__item {
    margin-left: 35px;
  }
}

/* line 55, ../sass/modules/_navigation.scss */
.navigation--social {
  position: fixed;
  z-index: -1;
  bottom: 20px;
  left: 50%;
  opacity: 0;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
/* line 65, ../sass/modules/_navigation.scss */
.navigation--social.visible {
  z-index: 3 !important;
}
@media (min-width: 675px) {
  /* line 55, ../sass/modules/_navigation.scss */
  .navigation--social {
    z-index: 1;
    right: 60px;
    left: auto;
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  /* line 76, ../sass/modules/_navigation.scss */
  .navigation--social ul {
    padding-left: 0;
  }
}

/* line 82, ../sass/modules/_navigation.scss */
.navigation--social__item {
  font-size: .7em;
  padding-left: 2px;
  text-transform: uppercase;
}
/* line 88, ../sass/modules/_navigation.scss */
.navigation--social__item:not(:last-child):after {
  padding-left: 4px;
  content: ' /';
}

/* modules/_hamburger.scss */
/* line 6, ../sass/modules/_hamburger.scss */
.hamburger {
  position: absolute;
  top: calc(50% + 10px);
  right: 20px;
  display: block;
  height: 26px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 675px) {
  /* line 6, ../sass/modules/_hamburger.scss */
  .hamburger {
    display: none;
  }
}
/* line 19, ../sass/modules/_hamburger.scss */
.hamburger span {
  position: relative;
  top: calc(50% - 1px);
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
/* line 31, ../sass/modules/_hamburger.scss */
.hamburger span:before, .hamburger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: black;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
/* line 45, ../sass/modules/_hamburger.scss */
.hamburger span:before {
  top: -6px;
}
/* line 48, ../sass/modules/_hamburger.scss */
.hamburger span:after {
  bottom: -6px;
}
/* line 52, ../sass/modules/_hamburger.scss */
.hamburger.open span {
  background-color: transparent;
}
/* line 54, ../sass/modules/_hamburger.scss */
.hamburger.open span:before {
  top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 59, ../sass/modules/_hamburger.scss */
.hamburger.open span:after {
  bottom: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* modules/_action-item.scss */
/* line 6, ../sass/modules/_action-items.scss */
.action-item {
  display: inline-block;
  max-width: 18px;
  margin: 0 3px 1em;
}

/* modules/_hashtags.scss */
/* line 6, ../sass/modules/_hashtags.scss */
.hashtags {
  padding-left: 0;
  list-style-type: none;
}

/* line 12, ../sass/modules/_hashtags.scss */
.hashtags__item {
  display: inline-block;
}
/* line 14, ../sass/modules/_hashtags.scss */
.hashtags__item a:before {
  font-weight: 700;
  content: '#';
}

/* modules/_description.scss */
/* line 6, ../sass/modules/_description.scss */
.description {
  font-size: 1.7em;
  font-weight: 400;
  max-width: 400px;
  margin: 125px auto;
  text-align: center;
}

/* modules/_copyright.scss */
/* line 6, ../sass/modules/_copyright.scss */
.copyright {
  display: none;
}
@media (min-width: 675px) {
  /* line 6, ../sass/modules/_copyright.scss */
  .copyright {
    font-size: .7em;
    position: fixed;
    bottom: 20px;
    left: 60px;
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #646464;
  }
}

/* modules/_post.scss */
/* line 6, ../sass/modules/_post.scss */
.posts {
  text-align: center;
}
/* line 8, ../sass/modules/_post.scss */
.posts .post {
  text-align: left;
  vertical-align: middle;
}

/* line 14, ../sass/modules/_post.scss */
.post {
  position: relative;
  display: inline-block;
}
/* line 19, ../sass/modules/_post.scss */
.post:hover .post__singlelink:before {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 22, ../sass/modules/_post.scss */
.post:hover .post__more,
.post:hover .post--photo__caption {
  opacity: 1;
}

/* Post Elements */
/* line 30, ../sass/modules/_post.scss */
.post__singlelink {
  position: relative;
  cursor: pointer;
  opacity: 1 !important;
}
/* line 36, ../sass/modules/_post.scss */
.post__singlelink:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
}
/* line 48, ../sass/modules/_post.scss */
.post__singlelink--text {
  padding: 20px;
}

/* line 53, ../sass/modules/_post.scss */
.post__more {
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  text-align: center;
  opacity: 0;
  color: #fff;
}
/* line 64, ../sass/modules/_post.scss */
.post__more a {
  color: #fff;
}

/* line 69, ../sass/modules/_post.scss */
.post--photo__caption {
  font-size: 1.8em;
  font-weight: 700;
}

/* line 74, ../sass/modules/_post.scss */
main .post--photo__caption {
  position: absolute;
  top: 12%;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
}

/* line 89, ../sass/modules/_post.scss */
.overlay .post--photo__caption {
  margin-top: 15px;
}

/* line 93, ../sass/modules/_post.scss */
.post__conversation {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* line 100, ../sass/modules/_post.scss */
.post__conversation--lines:last-child p {
  margin-bottom: 0;
}

/* line 104, ../sass/modules/_post.scss */
.post--link__url {
  display: inline-block;
  margin-bottom: .83em;
  border-bottom: 2px solid #222;
}

/* Post Modifiers */
@media (min-width: 675px) {
  /* line 115, ../sass/modules/_post.scss */
  .post--photo {
    max-width: 800px;
  }
}

@media (min-width: 675px) {
  /* line 121, ../sass/modules/_post.scss */
  .post--blockquote {
    max-width: 500px;
  }
}

@media (min-width: 675px) {
  /* line 127, ../sass/modules/_post.scss */
  .post--text {
    max-width: 400px;
  }
}
/* line 132, ../sass/modules/_post.scss */
.post--text .post__singlelink p:last-child {
  margin-bottom: 0;
}

@media (min-width: 675px) {
  /* line 138, ../sass/modules/_post.scss */
  .post--link {
    max-width: 350px;
  }
}
/* line 142, ../sass/modules/_post.scss */
.post--link .post__singlelink {
  min-height: 163px;
}

@media (min-width: 675px) {
  /* line 147, ../sass/modules/_post.scss */
  .post--chat {
    max-width: 400px;
  }
}

@media (min-width: 675px) {
  /* line 153, ../sass/modules/_post.scss */
  .post--answer {
    max-width: 500px;
  }
}

/* modules/_overlay.scss */
/* line 6, ../sass/modules/_overlay.scss */
.overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 60px;
  text-align: center;
  opacity: 0;
  background: rgba(240, 240, 240, 0.9);
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
/* line 25, ../sass/modules/_overlay.scss */
.overlay.visible {
  z-index: 2 !important;
}

/* line 30, ../sass/modules/_overlay.scss */
.overlay__post {
  display: inline-block;
  position: relative;
  top: 30px;
  margin: 0;
  text-align: left;
  opacity: 0;
  -moz-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
  -webkit-transition: all, 0.2s, ease-in-out;
  transition: all, 0.2s, ease-in-out;
}
/* line 43, ../sass/modules/_overlay.scss */
.overlay__post.visible {
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 46, ../sass/modules/_overlay.scss */
.overlay__post .post__date {
  padding-right: 20px;
}
/* line 49, ../sass/modules/_overlay.scss */
.overlay__post .post__date,
.overlay__post .post__notes {
  display: inline-block;
  padding-top: 5px;
}
