@mixin base-transition($property: all, $duration: .2s, $timing-function: ease-in-out) {
    transition-timing-function: $timing-function;
    transition-duration: $duration;
    transition-property: #{$property};
}
