/* layouts/_base.scss */
// ---------------------------------------
// General element styles
// ---------------------------------------

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 20px;

    color: #111;
    &.no-scroll {
        overflow: hidden;

        height: 100%;
    }
    @media (min-width: 625px) {
        padding: 60px;
    }
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
}

.logo {
    display: inline-block;

    max-width: 80px;
}

nav {
    float: right;
}

h2 {
    font-size: 1.7em;

    margin-top: 0;
}

p {
    font-weight: 400;
    line-height: 1.4;

    margin-top: 0;
}

img {
    max-width: 100%;
}

a {
    font-weight: 700;

    text-decoration: none;

    color: #333;
    &:hover {
        opacity: .7;
    }
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
    @media (min-width: 625px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

figure {
    margin: 0;
    img {
        display: block;
    }
}

blockquote {
    font-weight: 700;

    margin-left: 0;

    @extend h2;
}

.source {
    font-size: 1.1em;
    font-weight: 400;

    margin-bottom: 0;
}

.visible {
    z-index: initial !important;

    opacity: 1 !important;
}
