/* modules/_action-item.scss */
// ---------------------------------------
// Like, Reblog, External Link - Action items
// ---------------------------------------
.action-item {
    display: inline-block;

    max-width: 18px;
    margin: 0 3px 1em;
}
