.copyright {
    font-size: .7em;

    position: fixed;
    bottom: 13px;
    left: 27px;

    text-transform: uppercase;

    color: #646464;

    @include transform(rotate(-90deg));
    @include transform-origin(top, left);
}
