/* modules/_copyright.scss */
// ---------------------------------------
// Copyright statement
// ---------------------------------------

.copyright {
    display: none;
    @media (min-width: 625px) {
        font-size: .7em;

        position: fixed;
        bottom: 13px;
        left: 27px;

        display: block;

        text-transform: uppercase;

        color: #646464;

        @include transform(rotate(-90deg));
        @include transform-origin(top, left);
    }
}
