/* modules/_description.scss */
// ---------------------------------------
// General blog description. Appears at top of index page
// ---------------------------------------

.description {
	text-align: center;
	max-width: 400px;
	margin: 125px auto;
	font-size: 1.7em;
	font-weight: 400;
}