/* modules/_description.scss */
// ---------------------------------------
// General blog description. Appears at top of index page
// ---------------------------------------

.description {
    font-size: 1.7em;
    font-weight: 400;

    max-width: 400px;
    margin: 125px auto;

    text-align: center;
}
