/* modules/_navigation.scss */
// ---------------------------------------
// Navigation type modules
// ---------------------------------------

.navigation {
    margin: 0;
    padding-left: 0;

    list-style-type: none;
}

.navigation__item {
    display: inline-block;

    vertical-align: bottom;
}

.navigation--site-wide {
    font-size: 1.2rem;
    @media (max-width: $mobile-breakpoint - 1) {
        position: fixed;
        z-index: -1;
        top: 115px;
        left: 50%;

        opacity: 0;

        @include transform(translateX(-50%));
        @include base-transition('opacity translate');
        &.visible {
            @include transform(translateX(-50%) translateY(-15px));
        }
    }
}

.navigation--site-wide__item {
    @media (max-width: $mobile-breakpoint - 1) {
        font-size: 18px;

        display: block;

        margin-bottom: 1em;

        text-align: center;
        a {
            font-weight: 400;
        }
    }
    @media (min-width: $mobile-breakpoint) {
        margin-left: 35px;
    }
}

.navigation--social {
    position: fixed;
    z-index: -1;
    bottom: 20px;
    left: 50%;

    opacity: 0;

    @include transform(translateX(-50%));
    @include base-transition(opacity);
    &.visible {
        z-index: 3 !important;
    }
    @media (min-width: $mobile-breakpoint) {
        z-index: 1;
        right: 60px;
        left: auto;

        opacity: 1;

        @include transform(translateX(0));
        ul {
            padding-left: 0;
        }
    }
}

.navigation--social__item {
    font-size: .7em;

    padding-left: 2px;

    text-transform: uppercase;
    &:not(:last-child):after {
        padding-left: 4px;

        content: ' /';
    }
}
