/* modules/_overlay.scss */
// ---------------------------------------
// Overlay
// ---------------------------------------

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    overflow: scroll;

    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 205px 60px;

    text-align: center;

    background: rgba(#f0f0f0,.9);
    z-index: -1;
    @include base-transition(opacity);
    &--visible {
        opacity: 1;
        z-index: initial;
    }
}

.overlay__post {
    display: inline-block;

    margin: 10px 0 0;

    opacity: 0;
    text-align: left;

    @include base-transition("opacity, transform", .1s);
    &--visible {
        opacity: 1;

        @include transform(translateY(-10px));
    }
    .post__date {
        padding-right: 20px;
    }
    .post__date,
    .post__notes {
        display: inline-block;
        padding-top: 5px;
    }
}
