/* modules/_xkit.scss */
// ---------------------------------------
// Ensures xkit hover box doesn't break
// ---------------------------------------

#x1cpostage_box,
#x1cpostage_box *, {
	&:before,
	&:after {
	    -webkit-box-sizing: content-box !important;
	       -moz-box-sizing: content-box !important;
	            box-sizing: content-box !important;
	}
}